html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.App {
  & .hidden {
    visibility: hidden;
  }

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  button {
    border-radius: 10px;
    color: white;
    transition: 0.2s linear;
    background: #0b63f6;
    font-size: 3rem;
  }

  button:hover {
    box-shadow: 0 0 0 2px white, 0 0 0 4px #3c82f8;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}
